{%extends 'Sablon.html'%}
{%load static%}
{%block content%}
    <form>
        <input type="text" class="Tnumber1"  name="Name" placeholder="Nmae">
        <input type="tel" class="Tnumber2" name="Phone">
        <input type="email" class="Tnumbe3" name="email">
        <input type="date" class="Tnumbe3" name="date">
        <h5>Select tabel</h5>
<div class="zal">
    <div id="stol1" class="tabel"></div>
    <div id="stol2" class="tabel"></div>
    <div id="stol3" class="tabel"></div>
    <div id="stol4" class="tabel"></div>

            <input type="text" class="Tnumber"  id="Tnumber" name="tableNumber">

</div>

         <input type="submit">
            </form>
{%endblock%}