{%extends 'Sablon.html'%}
{%load static%}

{%block chois%}
<h1>Middagsmeny</h1>
<div id="block222" class="radioKnapper">
    <div class="radio" id="Vin_block">
        <input type="radio" name="midmeny" class="myCheckbox" id="VinOn">
        <label for="VinOn" class="LableCheck">Vin</label>
    </div>
    <div class="radio" id="Ol_block">
        <input type="radio" name="midmeny" class="myCheckbox" id="OlOn">
        <label for="OlOn" class="LableCheck">Øl</label>
    </div>
    <div class="radio" id="Mineral_block">
        <input type="radio" name="midmeny" class="myCheckbox" id="MineralOn">
        <label for="MineralOn" class="LableCheck">Mineral</label>
    </div>
</div>
{%endblock%}

{%block content%}

<div style="display:flex;flex-direction:column; aling-items:center;">

    <div class="drikke" >

        <div id="Vin" style="display:none;" >
            <h1 >Vin</h1>

            <select id="VinnSel" class="selectDrikker">
                <option value="all">Se alle typer av vinn</option>
                {%for g in Masiv1%}
                <option value="{{g.choseId}}">{{g.Name}}</option>
                {%endfor%}
            </select>

            <div class="wrapper">
                {%for g in Masiv1%}
                <div id="{{g.choseId}}" class="middMatt">
                    <h2>{{g.Name}}</h2>
                    <img src="{% static g.link %}" class="lunchBilde">
                    <p><b>Pris: {{g.pris}}$</b></p>
                    <button class="btnMoreeee" onclick="CreateKvitEl('{{g.LevId}}','{{g.Name}}',{{g.pris}},{{g.iVerdi}},'{{g.prisId1}}')">legg i kurven</button>
                    <button class="btnMoreeee" onclick="MinOnclick({{g.iVerdi}})">ta ut av kurven</button>
                </div>
                {%endfor%}
            </div>

        </div>

        <div id="Ol" style="display:none;">
            <h1>Øl</h1>
            <select id="OlSel" class="selectDrikker">
                <option value="all">Se alle typer av Øl</option>
                {%for g in Masiv2%}
                <option value="{{g.choseId}}">{{g.Name}}</option>
                {%endfor%}
            </select>

            <div class="wrapper">
                {%for g in Masiv2%}
                <div id="{{g.choseId}}" class="middMatt">
                    <h2>{{g.Name}}</h2>
                    <img src="{% static g.link %}" class="lunchBilde">
                    <p><b>Pris: {{g.pris}}$</b></p>
                    <button class="btnMoreeee" onclick="CreateKvitEl('{{g.LevId}}','{{g.Name}}',{{g.pris}},{{g.iVerdi}},'{{g.prisId1}}')">legg i kurven</button>
                    <button class="btnMoreeee" onclick="MinOnclick({{g.iVerdi}})">ta ut av kurven</button>
                </div>
                {%endfor%}
            </div>
        </div>


        <div id="Mineral" style="display:none;">
            <h1>Bruser</h1>
            <select id="MinerallSel" class="selectDrikker">
                <option value="all">Se alle typer av bruser</option>
                {%for g in Masiv3%}
                <option value="{{g.choseId}}">{{g.Name}}</option>
                {%endfor%}
            </select>

            <div class="wrapper">
                {%for g in Masiv3%}
                <div id="{{g.choseId}}" class="middMatt">
                    <h2>{{g.Name}}</h2>
                    <img src="{% static g.link %}" class="lunchBilde">
                    <p><b>Pris: {{g.pris}}$</b></p>
                    <button class="btnMoreeee" onclick="CreateKvitEl('{{g.LevId}}','{{g.Name}}',{{g.pris}},{{g.iVerdi}},'{{g.prisId1}}')">legg i kurven</button>
                    <button class="btnMoreeee" onclick="MinOnclick({{g.iVerdi}})">ta ut av kurven</button>
                </div>
                {%endfor%}
            </div>
        </div>


    </div>
</div>
{%endblock content%}